<html>
<head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(function(){
            $("#navbar").load("navbar.html");
        });
    </script>
</head>
<body>

<div id="navbar"></div>

<div class="container">
    <section id="section1" class="panel panel-default">

        <div class="panel-heading">
            <div class="container">
                <h3 class="panel-title">Original images</h3>
            </div>
        </div>
        <div class="panel-body">
            <form action="/modify" method="POST">

                <div style="margin-bottom: 20px">
                    <label>
                        Operation:
                        <select name="option" >
                            <option value="greyScale">grey scale</option>
                            <option value="invert">invert</option>
                        </select>
                    </label>
                    <input type="submit" class="btn  btn-primary" value="Send"/>
                </div>

                <% images.forEach(function(image){ %>
                <div class="img-container">

                    <a href="<%= image.link %>">
                        <img src="<%= image.link %>" class="img-small img-thumbnail">
                    </a>
                    <label >
                        <input type="checkbox" name="keys" value="<%= image.key %>">
                    </label>
                </div>

                <% }) %>

            </form>
        </div>
        <footer class="panel-footer">

        </footer>
    </section>
</div>
</body>
</html>
